@use '../../../styles/variables' as *;

.root {
    .background {
        img{
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            transition: all 500ms ease-in-out;
        }
    }
}
