@use 'styles/variables' as *;

.root {
  .nav {
    ul {
      position: relative;

      li {
        position: relative;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .copyright {
    ul {
      display: flex;
      flex-wrap: nowrap;

      li {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }

  .video {
    position: absolute;

    iframe,
    video {
      aspect-ratio: 16/9;
    }

    &:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
}

.pin {
  padding-top: 20rem;
  width: 41rem;
  min-width: 41rem;

  svg {
    width: 100%;
    height: auto;
    fill: theme('colors.blue');
  }
  @media screen and (max-width: 1023px) and (orientation:landscape) {
    padding-top: 5rem;
    width: 21rem;
    min-width: 21rem;
  }
  @screen md {
    padding-top: 5rem;
    width: 21rem;
    min-width: 21rem;
  }
}