@import '../../../styles/variables';

.root {
  min-height: 40rem;

  .icon {
    width: 100rem;
    height: 100rem;
    border: 3rem solid theme('colors.blue');
    border-radius: 10rem;

    svg {
      width: 60%;
      height: auto;
    }
    @media screen and (max-width: 1023px) and (orientation:landscape) {
      width: 60rem;
      height: 60rem;
    }
    @screen md {
      width: 60rem;
      height: 60rem;
    }
  }

  .iconsimple {
    width: 40rem;
    height: 40rem;
    border: 0rem solid theme('colors.blue');
    border-radius: 0rem;

    svg {
      width: 80%;
      height: auto;
    }
  }
}