@import '../../../styles/variables';

.root {
  min-height: 40rem;

  .icon {
    width: 60rem;
    height: 60rem;
    border: 3rem solid theme('colors.blue');
    border-radius: 10rem;

    svg {
      width: 60%;
      height: auto;
    }
  }

  .iconsimple {
    width: 40rem;
    height: 40rem;
    border: 0rem solid theme('colors.blue');
    border-radius: 0rem;

    svg {
      width: 80%;
      height: auto;
    }
  }
}