@import '../../../styles/variables';

.root {
  z-index: 999;
  max-height: 0px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease-out 0ms;

  &.active {
    max-height: 100000px;
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease-out 0ms;
  }


  .bg {
    transition: all 500ms ease-out 0ms;
    -webkit-animation: popfade 500ms ease both;
    animation: popfade 500ms ease both;
    isolation: isolate;

    img {
      opacity: 0.5;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      transition: all 500ms ease-in-out;
      mix-blend-mode: overlay;
    }
  }

  .step {
    transition: all 500ms ease-out 0ms;
  }

  .active {
    opacity: 1;
    transition: all 500ms ease-out 0ms;
  }

  .inputwrapper {
    position: relative;

    label {
      transition: all 500ms ease-out 0ms;
    }

    &.error {
      label {
        color: #9d102d;
        transition: all 500ms ease-out 0ms;
      }

      input,
      textarea {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
  }


  .close {
    z-index: 999;

    svg {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 1.6rem;
      height: 100%;
      fill: theme('colors.white');
      z-index: 89;
    }
  }

  .progress {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    padding-left:10rem;

    .progressdot {
      width: 15rem;
      height: 11rem;
      border-width: 4rem;
      border-style: solid;
      border-radius: 5rem;
    }
  }
}


@-webkit-keyframes popfade {
  from {
    opacity: 0;
  }
}

@keyframes popfade {
  from {
    opacity: 0;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}