@import '../../../styles/variables';

.root {
  z-index: 999;
  transition: all 500ms ease-out 0ms;
  -webkit-animation: popfade 1000ms ease both;
  animation: popfade 1000ms ease both;

  .bg {
    transition: all 500ms ease-out 0ms;
    -webkit-animation: popfade 500ms ease both;
    animation: popfade 500ms ease both;

    img {
      opacity: 0.3;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      transition: all 500ms ease-in-out;
    }
  }

  .step {
    transition: all 500ms ease-out 0ms;
  }

  .active {
    opacity: 1;
    transition: all 500ms ease-out 0ms;
  }

  .inputwrapper {
    position: relative;

    label {
      transition: all 500ms ease-out 0ms;
    }

    &.error {
      label {
        color: red;
        transition: all 500ms ease-out 0ms;
      }

      input,
      textarea {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
  }


  .close {
    z-index: 999;

    svg {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 1.6rem;
      height: 100%;
      fill: theme('colors.white');
      z-index: 89;
    }
  }
}


@-webkit-keyframes popfade {
  from {
    opacity: 0;
  }
}

@keyframes popfade {
  from {
    opacity: 0;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}