@import '../../../styles/variables';

.root {
    .telegraph {
        svg{
            width: 100%;
            height: auto;
        }
    }
    .communication {
        svg{
            width: 100%;
            height: auto;
        }
    }
    .paint{
        z-index: -1;
    }
    .typewriter {
        svg{
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }
    .paintbrush {
        top: -25%;
        left: 0%;
        width: 15%;
        z-index: 15;
    }

    .paintbrushsvg {
        svg{
            width: 100%;
            height: auto;
        }
    }

    .paintdrops {
        top: 40%;
        left: 50%;
        width: 3%;
        height: 50%;
    }

    .paintdrop {
        top:0;
    }
}
