@import '../../../styles/variables';

.root {
    .telegraph {
        svg{
            width: 100%;
            height: auto;
        }
    }
    .communication {
        svg{
            width: 100%;
            height: auto;
        }
    }
    .typewriter {
        svg{
            width: 100%;
            height: auto;
        }
    }
}

