@import '../../../styles/variables';

.root {
    .telegraph {
        svg{
            width: 100%;
            height: auto;
        }
    }
    .communication {
        svg{
            width: 100%;
            height: auto;
        }
    }
    .paint{
        z-index: -1;
    }
    .typewriter {
        svg{
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }
    .paintbrush {
        top: 37%;
        left: 0%;
    }

    .paintbrushsvg {
        svg{
            width: 100%;
            height: auto;
        }
    }
}
