@import '../../../styles/variables';

.root {

    .grid {
        display: block;

        //transition: all 0ms ease-in-out;
        &.grid_square {
            display: grid;
            grid-template-columns: repeat(1,minmax(0,1fr));
            gap: 50px;
            .project {
                aspect-ratio: 2/2;
            }
            @media screen and (max-width: 1023px) and (orientation:landscape) {
                display: grid;
                grid-template-columns: repeat(3,minmax(0,1fr));
            }
            @screen md {
                display: grid;
                grid-template-columns: repeat(3,minmax(0,1fr));
            }
        }
        &.grid_alternating {
            flex-direction: column;
            flex-wrap: wrap;
            gap: 30px;
            .project {
                margin-bottom: 30px;
            }
            @media screen and (max-width: 1023px) and (orientation:landscape) {
                display: flex;
                max-height: 60vw;

                .project {
                    width: calc(33.333% - 20px);
                    margin-bottom: 0;
                }

                &.rows_1 {
                    max-height: 30vw;
                    .project {
                        aspect-ratio: 2/2;
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(6) {
                            //aspect-ratio: 2/1;
                        }
                    }
                }
                &.rows_2 {
                    max-height: 60vw;
                    .project {
                        aspect-ratio: 2/2;
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(6) {
                            aspect-ratio: 2/1;
                        }
                    }
                }
                &.rows_3 {
                    max-height: 80vw;
                    .project {
                        aspect-ratio: 2/2;
                        &:nth-child(2),
                        &:nth-child(5),
                        &:nth-child(8) {
                            aspect-ratio: 2/1;
                        }
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(9) {
                            aspect-ratio: 6/7;
                        }
                    }
                }
                &.rows_4 {
                    max-height: 120vw;
                    .project {
                        aspect-ratio: 2/2;
                        &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(11) {
                            aspect-ratio: 2/1;
                        }
                        &:nth-child(2),
                        &:nth-child(7),
                        &:nth-child(12) {
                            aspect-ratio: 6/7;
                        }
                    }
                }
                &.rows_5 {
                    max-height: 150vw;
                    .project {
                        aspect-ratio: 2/2;
                        &:nth-child(4),
                        &:nth-child(6),
                        &:nth-child(14) {
                            aspect-ratio: 2/1;
                        }
                        &:nth-child(2),
                        &:nth-child(5),
                        &:nth-child(7),
                        &:nth-child(9),
                        &:nth-child(12),
                        &:nth-child(15) {
                            aspect-ratio: 6/7;
                        }
                    }
                }
            }
            @screen md {
                display: flex;
                max-height: 60vw;

                .project {
                    width: calc(33.333% - 20px);
                    margin-bottom: 0;
                }

                &.rows_1 {
                    max-height: 30vw;
                    .project {
                        aspect-ratio: 2/2;
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(6) {
                            //aspect-ratio: 2/1;
                        }
                    }
                }
                &.rows_2 {
                    max-height: 60vw;
                    .project {
                        aspect-ratio: 2/2;
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(6) {
                            aspect-ratio: 2/1;
                        }
                    }
                }
                &.rows_3 {
                    max-height: 80vw;
                    .project {
                        aspect-ratio: 2/2;
                        &:nth-child(2),
                        &:nth-child(5),
                        &:nth-child(8) {
                            aspect-ratio: 2/1;
                        }
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(9) {
                            aspect-ratio: 6/7;
                        }
                    }
                }
                &.rows_4 {
                    max-height: 120vw;
                    .project {
                        aspect-ratio: 2/2;
                        &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(11) {
                            aspect-ratio: 2/1;
                        }
                        &:nth-child(2),
                        &:nth-child(7),
                        &:nth-child(12) {
                            aspect-ratio: 6/7;
                        }
                    }
                }
                &.rows_5 {
                    max-height: 150vw;
                    .project {
                        aspect-ratio: 2/2;
                        &:nth-child(4),
                        &:nth-child(6),
                        &:nth-child(14) {
                            aspect-ratio: 2/1;
                        }
                        &:nth-child(2),
                        &:nth-child(5),
                        &:nth-child(7),
                        &:nth-child(9),
                        &:nth-child(12),
                        &:nth-child(15) {
                            aspect-ratio: 6/7;
                        }
                    }
                }
            }
        }
    }

    .project {
        width: 100%;
        aspect-ratio: 2/2;
        transition: all 100ms ease-in-out;

        &:nth-child(even) {
            aspect-ratio: 2/1;
        }

        &:hover {
            z-index: 10;
            .image {
                transform: scale(1.05);
                transition: all 500ms ease-in-out;
            }
            .imagehover {
                opacity: 1;
            }
            .headline {
                opacity: 0;
            }
            .hover {
                opacity: 1;
            }
            .videohover {
                opacity: 1;
            }
        }

        @screen md {
            //width: calc(33.333% - 20px);
        }
    }


    .image {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        transition: all 500ms ease-in-out;
    }
    .imagehover {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        transition: all 500ms ease-in-out;
        z-index: 50;
        opacity: 0;
    }
    .headline {
        opacity: 1;
        transition: all 500ms ease-in-out;
    }
    .hover {
        opacity: 0;
        z-index: 55;
        transition: all 500ms ease-in-out;
    }
    .video {
        object-fit: cover;
        object-position: 50% 50%;
        transition: all 500ms ease-in-out;
        .videoinner {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        iframe, 
        video {
            width: 100%!important;
            height: auto!important;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    .videohover {
        z-index: 50;
        opacity: 0;
        object-fit: cover;
        object-position: 50% 50%;
        transition: all 500ms ease-in-out;
        .videoinner {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        iframe, 
        video {
            width: 100%!important;
            height: auto!important;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}