@import '../../../styles/variables';

.root {

    .project {
        width: 100%;
        aspect-ratio: 2/2;
        transition: all 100ms ease-in-out;

        &:hover {
            .image {
                transform: scale(1.05);
                transition: all 500ms ease-in-out;
            }
            .imagehover {
                opacity: 1;
            }
            .videohover {
                opacity: 1;
            }
            .hover {
                opacity: 1;
            }
        }
    }


    .image {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        transition: all 500ms ease-in-out;
    }
    .imagehover {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        transition: all 500ms ease-in-out;
        z-index: 50;
        opacity: 0;
    }
    .hover {
        opacity: 0;
        z-index: 55;
    }
    .video {
        object-fit: cover;
        object-position: 50% 50%;
        transition: all 500ms ease-in-out;
        .videoinner {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        iframe, 
        video {
            width: 100%!important;
            height: auto!important;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    .videohover {
        z-index: 50;
        opacity: 0;
        object-fit: cover;
        object-position: 50% 50%;
        transition: all 500ms ease-in-out;
        .videoinner {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        iframe, 
        video {
            width: 100%!important;
            height: auto!important;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}