@import '../../../styles/variables';

.root {

    .grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;

        //transition: all 0ms ease-in-out;
        @screen md {
            max-height: 60vw;
        }
    }

    .project {
        width: 100%;
        aspect-ratio: 2/2;
        transition: all 0ms ease-in-out;
        z-index: 9;

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(6) {
            aspect-ratio: 2/1;
        }

        &:hover {
            z-index: 10;
            .image {
                transform: scale(1.05);
                transition: all 500ms ease-in-out;
            }

            .imagehover {
                opacity: 1;
            }

            .hover {
                opacity: 1;
            }

            .videohover {
                opacity: 1;
            }
        }

        @screen md {
            width: calc(33.333% - 20px);
        }
    }

    .image {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        transition: all 500ms ease-in-out;
    }

    .imagehover {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        transition: all 500ms ease-in-out;
        z-index: 50;
        opacity: 0;
    }

    .hover {
        opacity: 0;
        z-index: 55;
    }

    .video {
        object-fit: cover;
        object-position: 50% 50%;
        transition: all 500ms ease-in-out;

        .videoinner {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        iframe,
        video {
            width: 100% !important;
            height: auto !important;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .videohover {
        opacity: 0;
        z-index: 55;
        object-fit: cover;
        object-position: 50% 50%;
        transition: all 500ms ease-in-out;

        .videoinner {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        iframe,
        video {
            width: 100% !important;
            height: auto !important;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .nextwrap {
        position: relative;
    }

    .nextarrow {
        path {
            stroke-dasharray: 200;
            stroke-dashoffset: 200;
        }
    }

    .viewalltext {
        svg {
            position: relative;
            width: 100%;
            height: auto;
        }
        path {
            opacity: 0;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            //animation-name: line;
          }
    }

    .draw {
        .nextarrow {
            path {
                animation: dash 3000ms ease forwards;
            }
        }

        .viewalltext {
            path {
                opacity: 1;
                animation-name: line;
              }
              
        }
    }

    @keyframes dash {
        from {
            stroke-dashoffset: 200;
        }

        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes line {
        100% {
            stroke-dashoffset: 0;
        }
    }
}