@import '../../../styles/variables';

.root {

    .project {
        aspect-ratio: 1/1;

        @media(hover: hover) and (pointer: fine) {
            &:hover {
                .image {
                    transform: scale(1.05);

                    @screen md {
                        transition: all 500ms ease-in-out;
                    }
                }

                .imagehover {
                    opacity: 1;
                }

                .hover {
                    opacity: 1;
                }

                .headline {
                    opacity: 0;
                }

                .videohover {
                    opacity: 1;
                }
            }
            @screen md {
                .image,
                .imagehover,
                .video,
                .videohover {
                    transition: all 500ms ease-in-out;
                }
            }
        }
    }


    .image {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    .imagehover {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        z-index: 50;
        opacity: 0;
    }

    .headline {
        opacity: 1;
        z-index: 55;
    }

    .hover {
        opacity: 0;
        z-index: 55;
    }

    .video {
        object-fit: cover;
        object-position: 50% 50%;

        .videoinner {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        iframe,
        video {
            width: 100% !important;
            height: auto !important;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .videohover {
        opacity: 0;
        z-index: 55;
        object-fit: cover;
        object-position: 50% 50%;

        .videoinner {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        iframe,
        video {
            width: 100% !important;
            height: auto !important;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}