//@import '../../styles/variables';

.root {
    display: block;
    margin: 0 auto;

    .panel {
        transition: all 0ms ease-in-out;
        z-index: 6;
    }

    .arrowwrap {
        text-align: center;
    }

    .arrow {
        path {
            stroke-dasharray: 300;
            stroke-dashoffset: 300;
        }
    }

    .textwrap {
        left: 45%;
        top: 32%;
        transform: translate(-50%, -50%);
    }

    .draw {
        .arrow {
            path {
                animation: dash 1000ms ease forwards;
            }
        }
    }

    .drawrev {
        .arrow {
            path {
                animation: dashrev 1000ms ease forwards;
            }
        }
    }

    .logosvg {
        path {
            //opacity: 0;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }

    .draw {
        .logosvg {
            path {
                opacity: 1;
                animation-name: line;
            }

        }
    }

    .rain {
        z-index: -1;
        //transform: rotate(-10deg);

        .drop {
            position: absolute;
            bottom: 100%;
            width: 15rem;
            height: 120rem;
            pointer-events: none;
            animation: drop 0.4s linear infinite;
        }

        .stem {
            width: 1rem;
            height: 60%;
            margin-left: 7rem;
            //background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95));
            background: #FFF;
            animation: stem 0.4s linear infinite;
        }

        .splat {
            width: 15rem;
            height: 10rem;
            border-top: 2rem dotted rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            opacity: 1;
            transform: scale(0);
            animation: splat 0.5s linear infinite;
            display: none;
        }
    }

    .splat-v1 {
        width: 25rem;
        height: 20rem;
        border-top: 4rem dotted rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        opacity: 1;
        transform: scale(0);
        animation: splat 0.75s linear infinite;
    }

    .splat {
        width: 20rem;
        //height: 5rem;
        //border: 1px solid red;

        div,
        span {
            position: absolute;
            border-radius: 100%;
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
            //animation-duration: var(--duration);
            //animation-delay: var(--delay);
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            animation-fill-mode: backwards;
            box-shadow: 0 0 5rem 7rem rgba(255, 255, 255, 0.05);

            &.splat_c_1 {
                animation-duration: 500ms;
                width: 5rem;
                height: 5rem;
                left: 50%;
                animation-name: jumpCenter;
                animation-delay: 0ms;
                opacity: 0.6;
            }

            &.splat_c_2 {
                animation-duration: 500ms;
                width: 4rem;
                height: 4rem;
                left: 50%;
                animation-name: jumpCenter2;
                animation-delay: 50ms;
                opacity: 0.4;
            }

            &.splat_l_1 {
                animation-duration: 500ms;
                width: 4rem;
                height: 4rem;
                left: 25%;
                animation-name: jumpLeft;
                animation-delay: 50ms;
                opacity: 0.3;
                //background-color: red;
            }

            &.splat_l_2 {
                animation-duration: 600ms;
                width: 4rem;
                height: 4rem;
                left: 75%;
                animation-name: jumpLeft2;
                animation-delay: 90ms;
                opacity: 0.2;
                //background-color: pink;
            }

            &.splat_l_3 {
                animation-duration: 750ms;
                width: 3rem;
                height: 3rem;
                left: 15%;
                animation-name: jumpLeft3;
                animation-delay: 100ms;
                opacity: 0.3;
                //background-color: blue;
            }

            &.splat_r_1 {
                animation-duration: 500ms;
                width: 3rem;
                height: 3rem;
                left: 85%;
                animation-name: jumpRight;
                animation-delay: 40ms;
                opacity: 0.5;
                //background-color: aqua;
            }

            &.splat_r_2 {
                animation-duration: 600ms;
                width: 2rem;
                height: 2rem;
                left: 0%;
                animation-name: jumpRight2;
                animation-delay: 80ms;
                opacity: 0.4;
                //background-color: green;
            }

            &.splat_r_3 {
                animation-duration: 750ms;
                width: 2rem;
                height: 2rem;
                left: 100%;
                animation-name: jumpRight3;
                animation-delay: 150ms;
                opacity: 0.3;
                //background-color: orange;
            }
        }
    }

    //dojo splash
    .splatd {
        position: absolute;
        left: 12%;
        top: 30.5%;
    }

    .splato {
        position: absolute;
        left: 22.5%;
        top: 30.5%;
    }

    .splatj {
        position: absolute;
        left: 28%;
        top: 55%;
    }

    .splato2 {
        position: absolute;
        left: 39%;
        top: 32%;
        transform: rotate(23deg);
    }

    //stories splash
    .splats {
        position: absolute;
        left: 40%;
        top: 22%;
    }

    .splate {
        position: absolute;
        left: 40%;
        top: 40%;
    }

    .splatt {
        position: absolute;
        left: 49%;
        top: 43%;
    }

    .splatw {
        position: absolute;
        left: 15%;
        top: 70%;
    }

    .splatr {
        position: absolute;
        left: 50%;
        top: 40%;
    }

    //video splash
    .splatv1 {
        position: absolute;
        left: 2%;
        top: 0;
    }

    .splatv2 {
        position: absolute;
        left: 8%;
        top: 0;
    }

    .splatv3 {
        position: absolute;
        left: 25%;
        top: 0;
    }

    .splatv4 {
        position: absolute;
        left: 40%;
        top: 0;
    }

    .splatv5 {
        position: absolute;
        left: 50%;
        top: 0;
    }

    .splatv6 {
        position: absolute;
        left: 75%;
        top: 0;
    }

    .splatv7 {
        position: absolute;
        left: 85%;
        top: 0;
    }

    .splatv8 {
        position: absolute;
        left: 97%;
        top: 0;
    }

    /* animate the drops*/
    @keyframes drop {
        0% {
            transform: translateY(0vh);
        }

        75% {
            transform: translateY(90vh);
        }

        100% {
            transform: translateY(90vh);
        }
    }

    @keyframes stem {
        0% {
            opacity: 1;
        }

        65% {
            opacity: 1;
        }

        75% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes splat {
        0% {
            opacity: 1;
            transform: scale(0);
        }

        80% {
            opacity: 1;
            transform: scale(0);
        }

        90% {
            opacity: 0.5;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(1.5);
        }
    }

    @keyframes line {
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes jumpCenter {
        0% {
            transform: translate(0, 0) scale(0);
        }

        50% {
            transform: translate(2rem, -20rem) scale(1.2);
        }

        90% {
            transform: translate(4rem, -5rem) scale(1.5);
        }

        100% {
            transform: scale(2);
            opacity: 0;
        }
    }

    @keyframes jumpCenter2 {
        0% {
            transform: translate(0, 0) scale(0);
        }

        50% {
            transform: translate(-2rem, -15rem) scale(1.5);
        }

        95% {
            transform: translate(-5rem, 0rem) scale(1.5);
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes jumpLeft {
        0% {
            transform: translate(0, 0) scale(0);
        }

        50% {
            transform: translate(-7rem, -15rem) scale(1.2);
        }

        100% {
            transform: translate(-14rem, 5rem) scale(1.5);
        }
    }

    @keyframes jumpLeft2 {
        0% {
            transform: translate(0, 0) scale(0);
        }

        50% {
            transform: translate(-10rem, -10rem) scale(1.2);
        }

        75% {
            transform: translate(-20rem, 0rem) scale(1.5);
        }

        90% {
            transform: translate(-25rem, -3rem) scale(1.2);
        }

        100% {
            transform: translate(-30rem, 0rem) scale(1);
        }
    }

    @keyframes jumpLeft3 {
        0% {
            transform: translate(0, 0) scale(0);
        }

        50% {
            transform: translate(-12.5rem, -7rem) scale(1.2);
        }

        100% {
            transform: translate(-25rem, 10rem) scale(1.5);
        }
    }

    @keyframes jumpRight {
        0% {
            transform: translate(0, 0) scale(0);
        }

        50% {
            transform: translate(5rem, -12rem) scale(1);
        }

        100% {
            transform: translate(10rem, 5rem) scale(1.1);
        }
    }

    @keyframes jumpRight2 {
        0% {
            transform: translate(0, 0) scale(0);
        }

        50% {
            transform: translate(12rem, -15rem) scale(1);
        }

        75% {
            transform: translate(24rem, 0rem) scale(1.5);
        }

        90% {
            transform: translate(30rem, -3rem) scale(1.2);
        }

        100% {
            transform: translate(35rem, 0rem) scale(1.5);
        }
    }

    @keyframes jumpRight3 {
        0% {
            transform: translate(0, 0) scale(0);
        }

        50% {
            transform: translate(15rem, -15rem) scale(1);
        }

        100% {
            transform: translate(20rem, 10rem) scale(0.5);
        }
    }

    @keyframes dash {
        from {
            stroke-dashoffset: 300;
        }

        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes dashrev {
        from {
            stroke-dashoffset: 0;
        }

        to {
            stroke-dashoffset: -300;
        }
    }

}

.logo {
    width: 100%;
    margin: 0 auto;
    z-index: 5;

    svg {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

.arrow {
    svg {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}