@import '../../../styles/variables';

.root {

  .headline {
    p{
      margin-bottom:0;
    }
  }

  .logo {
    img{
      max-width: 300rem;
      max-height: 200rem;
    }
  }

  .icon {
    width: 50rem;
    height: 50rem;
    border: 2px solid theme('colors.blue');
    border-radius: 12rem;

    svg {
      width: 80%;
      height: auto;
    }
    @screen md {
      width: 35rem;
      height: 35rem;
    }
  }
}