@import '../../../styles/variables';

.root {

    .icon {
        width: 35rem;
        height: 35rem;
        border: 2px solid theme('colors.blue');
        border-radius: 12rem;
      
        svg {
          width: 80%;
          height: auto;
        }
       }
}
