@import '../../../styles/variables';

.root {

  .icon {
    width: 50rem;
    height: 50rem;
    border: 2px solid theme('colors.blue');
    border-radius: 12rem;

    svg {
      width: 60%;
      height: auto;
    }

    @media screen and (max-width: 1023px) and (orientation:landscape) {
      width: 35rem;
      height: 35rem;
    }

    @screen md {
      width: 35rem;
      height: 35rem;
    }
  }
}