@font-face {
    font-family: 'Nothing You Could Do';
    src: url('NothingYouCouldDo.eot');
    src: local('Nothing You Could Do'), local('NothingYouCouldDo'),
        url('NothingYouCouldDo.eot?#iefix') format('embedded-opentype'),
        url('NothingYouCouldDo.woff2') format('woff2'),
        url('NothingYouCouldDo.woff') format('woff'),
        url('NothingYouCouldDo.ttf') format('truetype'),
        url('NothingYouCouldDo.svg#NothingYouCouldDo') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

