@import '../../../styles/variables';

.root {
    .wrap {
        aspect-ratio: 2.6/1;
    }
    .logo {
        width: 70%;
        max-height: 100%;
    }
    .oval {
        svg{
            position: relative;
            width: 100%;
            height: auto;
            path{
                position: relative;
            }
        }
    }
    .ovalarrow{
        svg{
            position: relative;
            width: 100%;
            height: auto;
        }
    }
    .draw {
        .nextarrow {
            path {
                animation: dash 3000ms ease forwards;
            }
      }
    }
    .nextwrap {
        position: relative;
    }
    .nextarrow {
        path {
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
        }
      }
      
      @keyframes dash {
        from {
          stroke-dashoffset: 100;
        }
        to {
          stroke-dashoffset: 0;
        }
      }
}
