@import '../../../styles/variables';

.root {
    .wrap {
        aspect-ratio: 2.6/1;
    }

    .logo {
        width: 70%;
        max-height: 100%;
    }

    .ovalwrap {
        svg {
            position: relative;
            width: 100%;
            height: auto;

            path {
                position: relative;
                //fill: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
                //fill:url('#a')
            }
        }
    }
    .ovalarrowwrap {
        position: relative;
    }

    .ovalarrow {
        path {
            stroke-dasharray: 200;
            stroke-dashoffset: 200;
        }
    }

    .nexttext {
        path {
            opacity: 0;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            //animation-name: line;
          }
    }

    .draw {
        .ovalarrow {
            path {
                animation: dash 1000ms ease forwards;
            }
        }

        .nextarrow {
            path {
                animation: dash 1000ms ease forwards;
            }
        }

        .oval {
            path {
                animation: dash 1000ms ease forwards;
            }
        }

        .nexttext {
            path {
                opacity: 1;
                animation-name: line;
              }
              
        }
    }

    .nextwrap {
        position: relative;
    }

    .nextarrow {
        path {
            stroke-dasharray: 200;
            stroke-dashoffset: 200;
        }
    }
    .nexttext {
        path {
            //stroke-dasharray: 100;
            //stroke-dashoffset: 100;
            //animation: dash 1000ms ease infinite;
        }
    }

    @keyframes dash {
        from {
            stroke-dashoffset: 200;
        }

        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes line {
        100% {
          stroke-dashoffset: 0;
        }
      }
}