@import '../../../styles/variables';

.root {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transition: .5s cubic-bezier(.6, 0, .25, 1);
  opacity: 0;

  &.active {
    opacity: 1;
  }

  background: theme('colors.brand.light');

  &.gradient {
    background-image: linear-gradient(to top, #ecb985, #9cb3c0);
  }

  padding: 0 2rem;
  display: flex;
  align-items: center;
  z-index: 95;

  @screen sm {
    padding: 0;
  }

  &.extended {
    .wrapper {
      @screen sm {
        max-width: 576px;
      }
    }
  }

  .wrapper {
    position: relative;
    width: 100%;
    padding: 2.5rem 2rem;
    background: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;

    @screen sm {
      padding: 5.5rem 5rem;
      max-width: 500px;
    }

    @screen md {
      max-width: 720px;
      padding: 5.5rem 7rem;
    }

    h1 {

      font-size: 4rem;
      letter-spacing: -0.157rem;
      margin-bottom: 1.5rem;
      max-width: 70%;

      @screen md {
        max-width: 100%;
        font-size: 5rem;
        letter-spacing: -0.196rem;
        margin-bottom: 2.5rem;
      }

      &::after {
        content: '';
        height: 2px;
        background: theme('colors.grey.dark');
        width: 100%;
        display: block;
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 2.1rem;
      margin-bottom: 2.5rem;
      color: theme('colors.grey.medium');

      @screen md {
        font-size: 1.8rem;
        line-height: 2.8rem;
        letter-spacing: -0.02rem;
        margin-bottom: 4.5rem;
      }
    }
  }
}