.cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background-color: theme('colors.orange');
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
  transition: all 0ms ease-in-out;
}

.icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  color: theme('colors.orange');
  svg{
    width: 100%;
    height: auto;
  }
}
.peace {
  width: 110rem;
  height: 110rem;
}
.play {
  width: 160rem;
  height: 160rem;
}
.pause {
  width: 80rem;
  height: 160rem;
}
.heart {
  width: 100rem;
  height: 100rem;
}
.bridge {
  width: 80rem;
  height: 160rem;
}
.horizontal {
  width: 85rem;
  height: 55rem;
  border: 4rem solid theme('colors.orange');
}
.view {
  width: 85rem;
  height: 55rem;
  border: 4rem solid theme('colors.orange');
}