.cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0rem;
  height: 0rem;
  background-color: theme('colors.orange');
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  pointer-events: none;
  transition: all 0ms ease-in-out;

  div{
    //transition: all 250ms cubic-bezier(0.6, 0, 0.25, 1);
    transition: all 500ms ease-out 0ms;
    -webkit-animation: popfade 250ms ease both;
    animation: popfade 250ms ease both;
  }
}

.icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  color: theme('colors.orange');

  svg {
    width: 100%;
    height: auto;
  }
}

@-webkit-keyframes popfade {
  from {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes popfade {
  from {
    opacity: 0;
    transform: scale(0);
  }
}

.peace {
  width: 110rem;
  height: 110rem;
}

.play {
  width: 160rem;
  height: 160rem;
}

.pause {
  width: 80rem;
  height: 160rem;
}

.heart {
  width: 100rem;
  height: 100rem;
}

.bridge {
  width: 80rem;
  height: 160rem;
}

.horizontal {
  width: 85rem;
  height: 55rem;
  border: 4rem solid theme('colors.orange');
}

.view {
  width: 85rem;
  height: 55rem;
  border: 4rem solid theme('colors.orange');
}

.instagram {
  width: 50rem;
  height: 50rem;
}

.linkedin {
  width: 50rem;
  height: 50rem;
}

.masks {
  width: 150rem;
  height: 100rem;
}

.boots {
  width: 120rem;
  height: 120rem;
}

.heart2 {
  width: 120rem;
  height: 120rem;
}

.rocket {
  width: 90rem;
  height: 120rem;
}

.steeringwheel {
  width: 120rem;
  height: 120rem;
}

.goggles {
  width: 150rem;
  height: 100rem;
}